# Extracción y Carga de Datos de Candidatos
Este notebook extrae datos del archivo `candidates.csv` y los carga en la tabla `raw_candidates` de una base de datos PostgreSQL. Es el primer paso del proceso ETL, preparando los datos para análisis o transformaciones posteriores.

## Configuración Inicial
Aquí se importan las librerías necesarias y se establece la conexión a PostgreSQL usando credenciales seguras desde un archivo `.env`.

In [20]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# Cargar variables de entorno
load_dotenv()
connection_string = f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
engine = create_engine(connection_string)

## Lectura del Archivo CSV
Esta sección lee el archivo `candidates.csv` con pandas. Incluye manejo de errores para asegurar que el proceso no falle si algo sale mal.

In [35]:
try:
    df = pd.read_csv('../data/candidates.csv', sep=';')
except FileNotFoundError:
    print("Error: No se encontró candidates.csv")
#df.info()
#df.head()

## Carga a la Base de Datos
Los datos se cargan en la tabla `raw_candidates` de PostgreSQL, reemplazando la tabla si ya existe.

In [22]:
df.to_sql('raw_candidates', engine, if_exists='replace', index=False)
print("Datos cargados en raw_candidates.")

Datos cargados en raw_candidates.

## Verificación
Se ejecuta una consulta para confirmar que los datos están en la tabla, mostrando las primeras 5 filas.

In [36]:
# Verificar que todo esté bien
query = "SELECT * FROM raw_candidates LIMIT 5;"
#print(pd.read_sql(query, engine))
pd.read_sql(query, engine)

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7